html {
  font-family: 'Sanchez', serif;
  height: 100%;
  background-image: linear-gradient(180deg, #FFC75C 50%, white 50%);
}

.input-box {
  background-image: linear-gradient(180deg, white 85%, #845EC2 15%);
  border-radius: 20px;
  height: 150px;
  width: 700px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.translate-box {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(180deg, white 85%, #845EC2 15%);
  border-radius: 20px;
  height: 250px;
  width: 700px;
  left: 50%;
  position: absolute;
  top: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: -2px -2px 9px 4px #969696;
}
.translate-input {
  left: 50%;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 70px;
}
input[type="text"] {
  background-color: #EFEFEF;
  color: #969696;
  border-radius: 40px;
  margin-top: 30px;
  height:60px;
  width: 580px;
  border-color: #969696;
  border-style: solid;
  text-align: justify;
  font-size: 30px;
}

.translate-button {
  font-family: 'Sanchez', serif;
  background-color:#845EC2;
  color:#EFEFEF;
  border-radius: 40px;
  border-style: solid;
  font-size: 30px;
  font-weight: bold;
  width: 55px;
  height: 55px;
  position: absolute;
  transform: translate(-62px, 36px);
}

h4, h1 {
  font-family: 'Love Ya Like A Sister', cursive;
}

img {
  margin-left: auto;
  margin-right: auto;
}

.img-logo{
  width: 500px;
}
/* 
.sign-flex{
  display: flex;
  justify-content: center;

} */

.img-sign{
  flex: 1;
  width: 70px;
}