body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: 'Sanchez', serif;
}

button {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  font-family: 'Sanchez', serif;
}

h4, h1 {
  font-family: 'Love Ya Like A Sister', cursive;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;

}